<table id="objlisttab" data-rs-selectable data-rs-class="objsel">
    <tr id="objhead" class="objhead">
        <th>Type</th><th>ID</th><th>Name</th>
        {{#if showLibrary}}
            <th>Package</th>
        {{/if}}
    </tr>

    {{#each objectCollections}}
        {{#if visible}}
            {{#each childSymbols}}
                {{#if objvisible}}
                    <tr class="objrow" data-objt="{{../objectType}}" data-objk={{kind}} data-pkind={{../kind}} data-pidx={{../idx}} data-objidx={{idx}} data-objid="{{id}}" data-objname="{{name}}" onclick="objclick(this)" tabindex="0">
                        <td>{{../objectType}}</td><td>{{id}}</td><td>{{name}}</td>
                        {{#if ../../showLibrary}}
                            <td>{{library}}</th>
                        {{/if}}
                    </tr>
                {{/if}}
            {{/each}}
        {{/if}}
    {{/each}}

</table>
